.content{
  padding: 0px;
  background-color: #fff;
  word-wrap: break-word;
}


.blogImageBox{
  max-height: 500px;
  background-size: 4px 4px;
  overflow: hidden;
}
.blogImageBox img{
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.primaryContainer{
  padding: 0px 0px 3.2em 0px;
}

.postHeader{
  width: calc(80% - 175px - 1.9em );
  background-color: #fff;
  margin: 0 0 0 175px;
  transform: translateY(-100%) translateY(.4em);
  padding: 1.3em 0px 0 1.3em;
  position: absolute;
  z-index: 1;
}

.postTitle{
  font-family: "Montserrat",sans-serif;
  line-height: 1.2;
  margin-bottom: .4em;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #4b766b;
}

.postContent{
  margin: 0 0 1.6em;
  width: calc(90% - 200px);
}
.postContent p{
  text-align: justify;
  font-size: 18px;
}
.postContent a{
  text-decoration: underline;
  color: #477474;
}

.followContainer{
  margin-left: 55px;
}

@media only screen and (max-width: 1500px){
  .postContent{
    width: calc(90% - 100px);
    margin-left: 100px;
  }
  .postHeader{
    width: calc(90%-100px);
    margin-left: 100px;
  }
  .followContainer{
    margin-left: 20px;
  }
}

@media only screen and (max-width:900px){
 body{
  width: 90%;
 } 
 .postContent{
  width: calc(90% - 60px);
  margin-left: 60px;
 }
 .postHeader{
  width: calc(90% - 80px);
  margin-left: 60px;
 }
}

@media only screen and (max-width: 600px){
  .postContent{
    width:  85%;   
    margin: auto;
  }

  .followContainer{
    margin-left: 5px;
  }

  .postHeader{
    width: calc(100% - 20px);
    margin: auto;
    padding-bottom: 0.4em;
    position: relative;
    transform: translateY(0);
  }
}