.entryHeader{
  position: relative;
  z-index: 1;
  display: block;
}

.entryTitle{
  font-family: "Montserrat",sans-serif;
  margin: 0 0 0 120px;
  margin-bottom: .4em;
  margin-top: 0.4em;
  font-size: 40px;
}
