body{
    margin: 0;
    overflow: hidden;
    background: #050505;
}

header{
    width: 100vw;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    line-height: 1;
    font-family: 'Teko', sans-serif;
}

#header h3{
    font-size: 30px;
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}


p{
    font-family: 'Montserrat', sans-serif;
}


.page-content{
    
}

.header-text{
    position: relative;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.header-text h1, .header-text h2{
    color: white;
    font-size: 8.8vmax;
    text-align: center;
    font-weight: 200;
    user-select: none;
    transition: 0.5s;
    line-height: 0.7;
}

.header-text h2{
    font-size: 4vmax;
    color: white;
}

.content{
    margin: 60px;
    height: calc(100vh - 120px);
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.particle canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content:hover{
    margin: 65px;
    height: calc(100vh - 130px);
    background: rgba(0,0,0,0.8)
}

.content:hover .header-text{
    transform: translate(-50%, -50%) scale(0.95);
}

#page-header h1{
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
}

@media(max-width: 600px){

    .page{
        width: 100%;
        left: none;
        display: block;
        position: static;
        opacity: 1 !important;
        top: auto !important;
    }
    .page-content{
        display: block;
        height: auto;
        overflow: default;
    }
}